body{
	background-color:#628DB8;
	margin:0px;
}
ul{
	margin-top:0;
}
#title{
	margin-top:0;
}


.title_page{
	background-color:#5C97DA;
	margin-bottom:0;
	overflow:auto;
}
.top{
	background-color:black;
	position:sticky;
	top:0;
	height:30px;
	text-align:center;
	overflow:auto;
}
.navbar{
	list-style-type:none;
	margin-top:0;
	text-align:center;
	font-size:15px;
}
.navlist{
	display:inline-block;
	padding-top:4px;
	margin-left:5px;
	margin-right:5px;
	
}
.navlink{
	text-decoration:none;
	color:white;
	font-family: 'Brush Script MT', cursive;
}
.navlink:hover{
	background-color:#FFCF12;
}

.map{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
img{
	width:40vw;
	height:65vh;
}
.background{
	display:flex;
	justify-content:center;
	background-color:white;
	width:25vw;
	height:80vh;
	border-radius:10vw;
	margin-top:5vh;
}

